 @import "./scss/bootstrap";
 @import 'https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap';

 
//  #root {
//     display: flex;
//     min-height: 100vh;
//     flex-direction: column;
    
//   }

.navbar-brand{
  img{ height: 60px;
    width: 100px;
    background-color: black;
    background: transparent;
    color: blue;
    

  }

 
}

.card{

  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

#root{

    display: flex;
    min-height: 100vh;
    flex-direction: column;
    
  }
  
  main{
    flex: 1 0 auto;
    display: flex;
    background: #0F2027;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


    
  }
